
h1,h2,h3,h4,h5,h6{
font-family: 'Merriweather', serif;
}

body{

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}
main{
    max-width: 1320px;
    margin: auto;
}
.banner-top{
    max-width: 1320px;
    margin: auto;
    background: #0702119d url(/resources/Banner\ Image.png);
    background-blend-mode: overlay;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    
}
.banner-sub-heading, .banner-heading{
    color:white;
    text-align: center;
}

.banner-sub-heading{
    font-size: 32px;
    line-height: 1.3;
    font-weight: 400;

}
.banner-heading{
font-size: 72px;
line-height: 1.3;
margin: 0;

}

.offer-container{
    text-align: center;
}

.offer-main-heading{
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    color: #FF0000;
}
.offer-sub-heading{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #FF0000;
    font-weight: 500;
}

.offer-category{
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    color: #070211;
    font-weight: 700;

}
.offer-image{
    margin-top: 48px;
    margin-bottom: 120px;
}
.welcome-to-party-container{
    padding: 125px;
    background-image: url(/resources/2024image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:20px ;
}
.welcome-party-left{
width: 50%;

}

.welcome-party-heading{
    color: #fff;
    font-size: 64px;
    line-height: 1.3;
    margin-bottom: 24px;
}

.welcome-party-text{
    color: #fff;
    margin-bottom: 45px;
}

.welcome-party-button{
    background: #FF0000;
    color: white;
    border: none;
    padding: 13px 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
}
.party-details-container{
background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
text-align: center;
padding: 100px;
margin-top: 120px;
margin-bottom: 120px;
border-radius: 20px;
}

.party-details-container p{
    font-size: 32px;
    color: #070211;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 25px;
}

p span{
    color: #FF0000;
}

.join-now{
    margin-top: 25px;
    background: #FF0000;
    color: white;
    border: none;
    padding: 13px 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
}

.coming-soon-container{
    display: flex;
    gap:20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.coming-soon-container div{
      width: 33.33%;
}
.coming-soon-middle img {
    border: 10px solid #f00;
    border-radius: 50%;
    padding: 20px;
  }
  .holiday-images img{
    width: 100%
 
  }

  .right-images2 {
    position: absolute;
    right: auto;
    left: -25%;
    top: 20%;
  }


  .portfolio-gallery {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 25px;
  }

  .subcribe-newsletter-container{
    text-align: center;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
padding: 80px;
margin-top: 120px;
margin-bottom: 120px;
  }

  .subcribe-newsletter-container input{
    padding: 15px 20px;
    border: none;
    border-radius: 30px 0 0 30px;
  }
  .subcribe-newsletter-container .submit{
    padding: 15px 20px;
    border: none;
    border-radius: 0px 30px 30px 0px;
    background: #FF0000;
    color: #fff;

  }

  footer{
    background: #070211;
    color: #fff;
    margin: 0;
    padding: 120px 0;
  }

  .footer-top{
    width: 1320px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-middle{
    text-align: center;
    padding: 50px 0;
  }

  .footer-bottom{
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

